

.stylishBtn {
    font-size: 40px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #1e1e2b;
    text-transform: uppercase;
    position: relative;
    transition: .5s ease;
  }
  
  
  .stylishBtn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #1e1e2b;
    transition: .5s ease;
  }
  
  .stylishBtn:hover {
    color: #1e1e2b;
    transition-delay: .5s;
  }
  
  .stylishBtn:hover::before {
    width: 100%;
  }
  
  .stylishBtn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #ffc506;
    transition: .4s ease;
    z-index: -1;
  }
  
  .stylishBtn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
  }